<section class=" text-white bg-[#313035] py-16" >
    <div class=" container mx-auto row ListYourShow grid grid-flow-col justify-between grid-cols-[8fr_] ">
        <div class="column grid grid-flow-col items-center ">
            <span class="grid grid-flow-col items-center">
                <ion-icon class="text-2xl" name="megaphone"></ion-icon>
                <h4>List Your Show</h4>
            </span>
            <p>Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow</p>
        </div>
        <div class="column grid items-end bg-[#010101]">
            <button class=" w-52 py-2 bg-[#ec5e71] rounded">Contact Today!</button>
        </div>
    </div>
</section>
<section class="bg-[#404043]">
    <div class="container mx-auto row  usp grid grid-flow-col gap-4 py-8 text-white ">
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-headset"></i>
            <p>24/7 Customer Care</p>
        </div>
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-money-bill"></i>
            <p>Resend Booking confirmation</p>
        </div>
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-envelope"></i>
            <p>Subscribe to the newsletter</p>
        </div>
    </div>
</section>
<section class=" bg-[#313035] py-16 text-[#82989e]">
    <div class=" container mx-auto row">
        <div class="column">
            <h5 class="" >Help</h5>
            <ul class="grid grid-flow-col">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Current Opening</a></li>
                <li><a href="#">Press Release</a></li>
                <li><a href="#">Press Coverage</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="bg-[#313035] pt-4 pb-4 text-[#82989e] ">
    <div class="">
        <div class="row relative">
            <div class="column   ">
                <hr class=" absolute w-full top-[1rem] z-0">
            </div>
            <div class="column grid justify-center ">
                <img class="bg-[#313035] z-20 relative px-4" src="./assets/logoFooter.svg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-[#313035] pt-4 pb-16 text-[#82989e]">
    <div class="row container mx-auto ">
        <div class="column grid grid-flow-col justify-center gap-8">
            <ion-icon class="text-3xl" name="logo-tiktok"></ion-icon>
            <ion-icon class="text-3xl" name="logo-twitter"></ion-icon>
            <ion-icon class="text-3xl" name="logo-pinterest"></ion-icon>
            <ion-icon class="text-3xl" name="logo-instagram"></ion-icon>
        </div>
    </div>
    
</section>
<section class="bg-[#313035] pb-12 text-[#82989e]">
    <div class="row container mx-auto">
        <div class="column text-center" >
            <p class="text-center"> Copyright 2024 © Bigtree Entertainment Pvt. Ltd. All Rights Reserved.</p>
            <p class="column text-center">The content and images used on this site are copyright protected and copyrights vests with the respective owners. The usage of the content and images on this website is intended to promote the works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and punishable by law.</p>
        </div>
    </div>
</section>
