
    <section>
        <div class="container mx-auto  py-2 bg-white row   grid grid-flow-col grid-cols-[120px_] items-center">
            
            <div class="column logo w-[80%] ">
                <img src="./assets/bookmyshowlogo.png" alt="">
            </div>
            <nav class="column grid grid-flow-col grid-cols-[3fr_2fr_110px_100px_40px] items-center justify-center ">
                
                <form action="" class="bg-white py-1 px-2 border-[1px] border-slate-200 rounded py-1">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <ion-icon class="text-slate-500" name="search-outline"></ion-icon>
                    <input type="text" placeholder="Search for Movies, Events, Plays, Sports and Activities">
                </form>
                <div class=" py-1"></div>
                <div class="location ">
                    <select name="" id="">
                        <option value="delhi">Delhi-NCR</option>
                        <option value="pune">Pune</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="mumbai">Kolkata</option>
                    </select>
                </div>
                <button class=" w-[70px] py-1  rounded bg-colorPrimary text-xs text-white hover:bg-colorPrimaryDark  " >Sign In</button>
                <div class="menu  grid">
                    <!-- <i class=" text-slate-500 text-2xl fa-solid fa-bars place-self-end "></i> -->
                    <ion-icon class=" text-slate-500 text-2xl place-self-end " name="menu-outline"></ion-icon>
                </div>
               



            </nav>
        </div>
    </section>
    <section class="bg-[#e3e0df]"> 
        <div class="container mx-auto">
            <div class="row flex justify-between  py-1">
                <div class="column text-[14px]">
                    <ul class="flex gap-4">
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Stream</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Plays</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Activities</a></li>
                    </ul>
                </div>
                <div class="column text-[12px]">
                    <ul class="flex gap-4">
                        <li><a href="#">ListYourShow</a></li>
                        <li><a href="#">Corporates</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="#">Gift Cards</a></li>
                    </ul>
                </div>
           </div>
        </div>
    </section>
