<section class="container mx-auto text-white ">
    <div class="row ListYourShow grid grid-flow-col justify-between grid-cols-[8fr_] ">
        <div class="column grid grid-flow-col items-center ">
            <span class="grid grid-flow-col items-center">
                <ion-icon class="text-2xl" name="megaphone"></ion-icon>
                <h4>List Your Show</h4>
            </span>
            <p>Got a show, event, activity or a great experience? Partner with us & get listed on BookMyShow</p>
        </div>
        <div class="column grid items-end bg-[#010101]">
            <button class=" w-52 py-2 bg-[#ec5e71] rounded">Contact Today!</button>
        </div>
    </div>

    <div class="row usp grid grid-flow-col gap-4 py-8 my-8 bg-[#404043]">
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-headset"></i>
            <p>24/7 Customer Care</p>
        </div>
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-money-bill"></i>
            <p>Resend Booking confirmation</p>
        </div>
        <div class="column  flex flex-col  items-center ">
            <i class="text-4xl pb-4 fa-solid fa-envelope"></i>
            <p>Subscribe to the newsletter</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <h5>Help</h5>
            <p></p>
        </div>
    </div>
</section>